.App {
  text-align: center;
}

.App-header {
  display: flex;
  padding: 20px;
  background-color: #0e181a;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: rgb(239, 246, 241);
}
